<h1>ATCS Discord - Q&A Channel Form
    <small>Submit (anonymous) questions to the <a href= "/discordRedirect" target="_blank">Q&A channel</a></small>
</h1>
<form id = 'questionForm'>
    <fieldset>
        <legend>Question components</legend>
        <div class="input-group vertical">
            <label for="Subject"><h3>Subject<small>(required)</small></h3></label>
            <input type="text" name="Subject" id="Subject" required minlength=5 maxlength=32/>
        </div>

        <div class="input-group vertical">
            <label for="Question"><h3>Question<small>(required)</small></h3></label>
            <textarea form="questionForm" name="Question" id="Question" wrap="hard" required minlength=10 maxlength={{textareaMaxLength}}></textarea>
        </div>
        <div class="input-group vertical">

            <label for="Code"><h3>Code Snippet<small>(optional)</small></h3></label>
            <div class=row>
                <select name="Language" id="Language" form="questionForm">
                    {{#each languageList}}
                    <option value="{{this}}">{{@key}}</option>
                    {{/each}}
                </select>
            </div>
            <textarea class = "monotext" form="questionForm" name="Code" id="Code" wrap="hard" maxlength={{textareaMaxLength}}></textarea>
        </div>
        <div class="input-group vertical">
            <label for="Error"><h3>Error Message<small>(optional)</small></h3></label>
            <textarea class = "monotext" form="questionForm" name="Error" id="Error" wrap="hard" maxlength={{textareaMaxLength}}></textarea>
        </div>
    </fieldset>
    <div class="button-group horizontal">
        <button class="tertiary large link-button hidden" type="button">View Post on Discord</button>
        <button class="primary large" id="Submit" type="submit">Submit Question to Discord</button>
        <button class="secondary large" id="Clear" type="reset">Clear</button>
        <button class="primary large hidden" id="Edit" type="submit">Edit Question on Discord</button>
        <button class="secondary large hidden" id="NewQuestion" type="reset">New Question</button>
        <button class="inverse large delete-button hidden" type="button">Delete Post on Discord</button>
    </div>
</form>

<!-- Modal dialog -->
<input type="checkbox" id="modal-control" class="modal">
<div role="dialog" aria-labelledby="dialog-title">
    <div class="card">
        <label for="modal-control" class="modal-close" ></label>
        <h3 class="section" id="dialog-title">Dialog Title</h3>
        <button class="tertiary large link-button hidden" type="button">View Post on Discord</button>
        <p class="section" id="dialog-content">Dialog Content</p>
        <button class="inverse large delete-button hidden" type="button">Delete Post on Discord</button>
    </div>
</div>

<script src="javascripts/index.js"></script>
<script src="javascripts/textboxResize.js"></script>